In [4]:
import pandas as pd

Prescriber Data  
https://data.cms.gov/Medicare-Part-D/Medicare-Provider-Utilization-and-Payment-Data-201/77gb-8z53  
Physician Compare data  
https://data.medicare.gov/Physician-Compare/Physician-Compare-National-Downloadable-File/mj5m-pzi6

### ** Consider reodering cells below to query antipsychotics before merging


#### read in, select columns, rename columns for Part D Prescriber data and Physician Data

In [5]:
%time
prescriber_df = pd.read_csv('../data/archive/Medicare_Provider_Utilization_and_Payment_Data__2017_Part_D_Prescriber.csv', 
                            usecols=['npi','nppes_provider_last_org_name','nppes_provider_first_name','nppes_provider_city',
                                   'nppes_provider_state','specialty_description','generic_name','bene_count_ge65',
                                   'total_claim_count_ge65'])
prescriber_df = prescriber_df.rename(columns={'nppes_provider_last_org_name':'last_name','nppes_provider_first_name':'first_name',
                                              'nppes_provider_city':'city','nppes_provider_state': 'state',
                                              'specialty_description':'specialty','generic_name':'drug',})

Wall time: 0 ns

In [7]:
physician_df = pd.read_csv('../data/archive/Physician_Compare_National_Downloadable_File.csv',
                           usecols=['NPI','Hospital affiliation CCN 1','Hospital affiliation LBN 1','Hospital affiliation CCN 2',
                                   'Hospital affiliation LBN 2','Hospital affiliation CCN 3','Hospital affiliation LBN 3',
                                   'Hospital affiliation CCN 4','Hospital affiliation LBN 4','Hospital affiliation CCN 5',
                                   'Hospital affiliation LBN 5'])
physician_df = physician_df.rename(columns={'NPI': 'npi2','Hospital affiliation CCN 1':'ccn1','Hospital affiliation LBN 1':'lbn1',
                                            'Hospital affiliation CCN 2':'ccn2','Hospital affiliation LBN 2':'lbn2',
                                            'Hospital affiliation CCN 3':'ccn3','Hospital affiliation LBN 3':'lbn3',
                                            'Hospital affiliation CCN 4':'ccn4','Hospital affiliation LBN 4':'lbn4',
                                            'Hospital affiliation CCN 5':'ccn5','Hospital affiliation LBN 5':'lbn5'})

C:\Users\ben\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (29,31,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
all_drugs_usa_over65 = pd.merge(prescriber_df,physician_df,left_on='npi',right_on='npi2')
all_drugs_usa_over65.head(10)

,npi,last_name,first_name,city,state,specialty,drug,bene_count_ge65,total_claim_count_ge65,npi2,ccn1,lbn2,ccn2,lbn2,ccn3,lbn3,ccn4,lbn4,ccn5,lbn5
0,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,METOPROLOL SUCCINATE,NaN,31.0,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
1,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,MONTELUKAST SODIUM,0.0,0.0,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
2,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,DILTIAZEM HCL,NaN,NaN,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
3,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,AMOXICILLIN,NaN,NaN,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
4,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,ROSUVASTATIN CALCIUM,15.0,39.0,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
5,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,IVABRADINE HCL,NaN,12.0,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
6,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,FLUDROCORTISONE ACETATE,NaN,NaN,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
7,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,SOTALOL HCL,22.0,68.0,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
8,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,POTASSIUM CHLORIDE,NaN,NaN,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
9,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,QUINAPRIL HCL,NaN,16.0,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
prescriber_df.shape

(25209130, 9)

In [10]:
physician_df.shape

(2183992, 11)

In [13]:
all_drugs_usa_over65_drop_dup = all_drugs_usa_over65.drop_duplicates()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\ben\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-13-e1aec52f0918>", line 1, in <module>
    all_drugs_usa_over65_drop_dup = all_drugs_usa_over65.drop_duplicates()
  File "C:\Users\ben\anaconda3\lib\site-packages\pandas\core\frame.py", line 4811, in drop_duplicates
    duplicated = self.duplicated(subset, keep=keep)
  File "C:\Users\ben\anaconda3\lib\site-packages\pandas\core\frame.py", line 4888, in duplicated
    labels, shape = map(list, zip(*map(f, vals)))
  File "C:\Users\ben\anaconda3\lib\site-packages\pandas\core\frame.py", line 4863, in f
    vals, size_hint=min(len(self), _SIZE_HINT_LIMIT)
  File "C:\Users\ben\anaconda3\lib\site-packages\pandas\core\algorithms.py", line 636, in factorize
    values, na_sentinel=na_sentinel, size_hint=size_hint, na_value=na_value
  File "C:\Users\ben\anaconda3\lib\site-packages\pandas\core\algorithms.py", line 481, in _factorize_array
    hash_klass, values = _get_data_algo(values)
  File "C:\Users\ben\anaconda3\lib\site-packages\pandas\core\algorithms.py", line 258, in _get_data_algo
    ndtype = _check_object_for_strings(values)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ben\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ben\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1151, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\ben\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\ben\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 351, in _fixed_getinnerframes
    LNUM_POS, LINES_POS, INDEX_POS = 2, 4, 5
KeyboardInterrupt

KeyboardInterrupt:

In [15]:
all_drugs_usa_over65_drop_dup.shape

(20457591, 20)

In [16]:
list_of_all_antipsychs = ['ARIPIPRAZOLE',
'ARIPIPRAZOLE LAUROXIL',
'CHLORPROMAZINE HCL',
'CLOZAPINE',
'ILOPERIDONE',
'FLUPHENAZINE DECANOATE',
'FLUPHENAZINE HCL',
'ZIPRASIDONE HCL',
'ZIPRASIDONE MESYLATE',
'HALOPERIDOL LACTATE',
'HALOPERIDOL DECANOATE',
'HALOPERIDOL',
'PALIPERIDONE',
'PALIPERIDONE PALMITATE',
'LURASIDONE HCL',
'LOXAPINE SUCCINATE',
'MOLINDONE HCL',
'PIMAVANSERIN TARTRATE',
'OLANZAPINE',
'OLANZAPINE/FLUOXETINE HCL',
'PIMOZIDE',
'PERPHENAZINE',
'PERPHENAZINE/AMITRIPTYLINE HCL',
'QUETIAPINE FUMARATE',
'BREXPIPRAZOLE',
'RISPERIDONE',
'RISPERIDONE MICROSPHERES',
'ASENAPINE MALEATE',
'THIORIDAZINE HCL',
'THIOTHIXENE',
'TRIFLUOPERAZINE HCL',
'CARIPRAZINE HCL',
'OLANZAPINE PAMOATE']

In [17]:
antipsych_drugs_usa_over65 = all_drugs_usa_over65_drop_dup.query('drug in @list_of_all_antipsychs')

In [18]:
antipsych_drugs_usa_over65.head(2)

,npi,last_name,first_name,city,state,specialty,drug,bene_count_ge65,total_claim_count_ge65,npi2,ccn1,lbn2,ccn2,lbn2,ccn3,lbn3,ccn4,lbn4,ccn5,lbn5
344,1952306417,PARKHURST,REBECCA,ERIE,PA,Physician Assistant,QUETIAPINE FUMARATE,NaN,43.0,1952306417,390146.0,WARREN GENERAL HOSPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,1427075894,CHOUNZOM,TENZING,MONTEAGLE,TN,Internal Medicine,RISPERIDONE,NaN,25.0,1427075894,440058.0,SOUTHERN TENNESSEE REGIONAL HLTH SYSTEM WINCHE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
antipsych_drugs_usa_over65.shape

(380112, 20)

In [21]:
antipsych_drugs_usa_over65.to_csv('../data/antipsych_drugs_usa_over65.csv', index = False)