In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [18]:
pd.set_option('display.max_columns', 500)

Prescriber Data  
https://data.cms.gov/Medicare-Part-D/Medicare-Provider-Utilization-and-Payment-Data-201/77gb-8z53  
Physician Compare data  
https://data.medicare.gov/Physician-Compare/Physician-Compare-National-Downloadable-File/mj5m-pzi6


#### read in all columns, rename some columns

In [2]:
%%time
prescriber_df = pd.read_csv('../data/archive/Medicare_Provider_Utilization_and_Payment_Data__2017_Part_D_Prescriber.csv')
prescriber_df = prescriber_df.rename(columns={'nppes_provider_last_org_name':'last_name','nppes_provider_first_name':'first_name',
                                              'nppes_provider_city':'city','nppes_provider_state': 'state',
                                              'specialty_description':'specialty','generic_name':'drug',})

Wall time: 3min 5s

#### create list of antipsych drugs

In [3]:
list_of_all_antipsychs = ['ARIPIPRAZOLE',
'ARIPIPRAZOLE LAUROXIL',
'CHLORPROMAZINE HCL',
'CLOZAPINE',
'ILOPERIDONE',
'FLUPHENAZINE DECANOATE',
'FLUPHENAZINE HCL',
'ZIPRASIDONE HCL',
'ZIPRASIDONE MESYLATE',
'HALOPERIDOL LACTATE',
'HALOPERIDOL DECANOATE',
'HALOPERIDOL',
'PALIPERIDONE',
'PALIPERIDONE PALMITATE',
'LURASIDONE HCL',
'LOXAPINE SUCCINATE',
'MOLINDONE HCL',
'PIMAVANSERIN TARTRATE',
'OLANZAPINE',
'OLANZAPINE/FLUOXETINE HCL',
'PIMOZIDE',
'PERPHENAZINE',
'PERPHENAZINE/AMITRIPTYLINE HCL',
'QUETIAPINE FUMARATE',
'BREXPIPRAZOLE',
'RISPERIDONE',
'RISPERIDONE MICROSPHERES',
'ASENAPINE MALEATE',
'THIORIDAZINE HCL',
'THIOTHIXENE',
'TRIFLUOPERAZINE HCL',
'CARIPRAZINE HCL',
'OLANZAPINE PAMOATE']

In [4]:
prescriber_df.shape

(25209130, 21)

#### Run query on dataframe for list of drugs (credit: Mary's Queries)

In [5]:
prescriber_df = prescriber_df.query('drug in @list_of_all_antipsychs')

In [6]:
prescriber_df.shape

(509235, 21)

#### Some EDA:
    are there duplicates? there shouldn't be
    notnulls
    how many unique values for each column?

In [7]:
prescriber_df_drop_dup = prescriber_df.drop_duplicates()
prescriber_df_drop_dup.shape

(509235, 21)

In [8]:
prescriber_df.total_claim_count_ge65.sum()

7536552.0

In [9]:
prescriber_df.bene_count_ge65.sum()

294370.0

In [10]:
prescriber_df.notnull().sum()

npi                              509235
last_name                        509233
first_name                       509232
city                             509235
state                            509235
specialty                        509235
description_flag                 509235
drug_name                        509235
drug                             509235
bene_count                        99247
total_claim_count                509235
total_30_day_fill_count          509235
total_day_supply                 509235
total_drug_cost                  509235
bene_count_ge65                  152815
bene_count_ge65_suppress_flag    356420
total_claim_count_ge65           347730
ge65_suppress_flag               161505
total_30_day_fill_count_ge65     347730
total_day_supply_ge65            347730
total_drug_cost_ge65             347730
dtype: int64

In [11]:
prescriber_df.nunique()

npi                              149764
last_name                         62083
first_name                        20671
city                               8361
state                                59
specialty                           118
description_flag                      2
drug_name                            57
drug                                 33
bene_count                          251
total_claim_count                  1192
total_30_day_fill_count            6369
total_day_supply                  14128
total_drug_cost                  329524
bene_count_ge65                     161
bene_count_ge65_suppress_flag         2
total_claim_count_ge65              755
ge65_suppress_flag                    2
total_30_day_fill_count_ge65       3613
total_day_supply_ge65              8075
total_drug_cost_ge65             139208
dtype: int64

In [13]:
prescriber_df[prescriber_df['bene_count_ge65'].isnull()]

,npi,last_name,first_name,city,state,specialty,description_flag,drug_name,drug,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
47,1417981960,TILLMANNS,REGINE,MELROSE,MA,Internal Medicine,S,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,NaN,...,23.0,680,106.34,NaN,*,NaN,*,NaN,NaN,NaN
103,1497031454,ORTIZ,CHRISTIAN,DALLAS,TX,Psychiatry,S,HALOPERIDOL,HALOPERIDOL,NaN,...,19.0,570,414.11,NaN,*,NaN,*,NaN,NaN,NaN
105,1437247335,AFSHAR,PARVIN,IRVINE,CA,Psychiatry,S,SAPHRIS,ASENAPINE MALEATE,NaN,...,11.0,320,9079.50,NaN,*,11.0,NaN,11.0,320.0,9079.50
190,1205899572,SARKAR,PURNIMA,EARLE,AR,Internal Medicine,S,HALOPERIDOL,HALOPERIDOL,NaN,...,23.2,695,1390.46,NaN,*,11.0,NaN,11.0,330.0,258.83
215,1841603305,KING,SARA,WATERLOO,IA,Nurse Practitioner,S,ARIPIPRAZOLE,ARIPIPRAZOLE,NaN,...,30.2,855,6001.11,NaN,#,NaN,#,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25208581,1598188617,CURTISS,LAWRENCE,MOLINE,IL,Nurse Practitioner,S,RISPERIDONE,RISPERIDONE,42.0,...,363.9,10324,3421.38,NaN,*,58.0,NaN,62.0,1834.0,410.53
25208619,1962452391,MAGNUSON,THOMAS,OMAHA,NE,Geriatric Psychiatry,S,CLOZAPINE,CLOZAPINE,NaN,...,25.0,648,3886.51,NaN,*,25.0,NaN,25.0,648.0,3886.51
25208680,1801996764,MCLAUGHLIN,JULE,BOULDER,CO,Physician Assistant,S,OLANZAPINE,OLANZAPINE,20.0,...,182.0,5239,2998.17,NaN,*,19.0,NaN,21.0,630.0,255.61
25208800,1558377648,MALLOZZI,MARINO,EPHRATA,PA,Internal Medicine,S,QUETIAPINE FUMARATE ER,QUETIAPINE FUMARATE,NaN,...,20.0,600,2781.07,NaN,*,NaN,*,NaN,NaN,NaN
25208880,1205072063,WIGHT,VIRGINIA,MACON,GA,Psychiatry,S,INVEGA SUSTENNA,PALIPERIDONE PALMITATE,25.0,...,110.4,3004,184381.42,NaN,*,NaN,*,NaN,NaN,NaN

#### We can see ^ that there are 356,420 rows with NaN value for the bene_count_ge65...
    This is because the data is suppressed for any beneficiary count below 11.
    I will fill these NaN values with 5 (a presumed average).

In [14]:
prescriber_df['bene_count_ge65'] = prescriber_df['bene_count_ge65'].fillna(5)

In [15]:
prescriber_df.bene_count_ge65.value_counts()

5.0      356420
0.0      138976
11.0       1955
12.0       1596
13.0       1274
          ...
303.0         1
367.0         1
162.0         1
219.0         1
509.0         1
Name: bene_count_ge65, Length: 162, dtype: int64

#### Now what are all these zeros?  hmmm

In [19]:
prescriber_df[prescriber_df.bene_count_ge65 == 0]

,npi,last_name,first_name,city,state,specialty,description_flag,drug_name,drug,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
26,1659682904,JESUBATHAM,JULIAN,CLARKSDALE,MS,Internal Medicine,S,ZIPRASIDONE HCL,ZIPRASIDONE HCL,NaN,11,11.0,330,554.09,0.0,NaN,0.0,NaN,0.0,0.0,0.0
471,1942466735,PIERRE-LYNCH,NATACHA,HAMMONTON,NJ,Nurse Practitioner,S,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,11.0,30,30.0,900,817.21,0.0,NaN,0.0,NaN,0.0,0.0,0.0
760,1447337258,CHIANESE,CLAIRE,GEORGETOWN,DE,Nurse Practitioner,S,RISPERIDONE ODT,RISPERIDONE,NaN,13,13.0,388,1600.61,0.0,NaN,0.0,NaN,0.0,0.0,0.0
774,1215978770,WRIGHT,KENNETH,BENTON,AR,Psychiatry,S,PALIPERIDONE ER,PALIPERIDONE,15.0,71,71.9,1798,52158.90,0.0,NaN,0.0,NaN,0.0,0.0,0.0
780,1811985708,HERNANDO,ROBERTO,MIAMI,FL,Psychiatry,S,LATUDA,LURASIDONE HCL,NaN,23,24.0,720,42603.21,0.0,NaN,0.0,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25208284,1497209340,KURJANOWICZ,LESLEY,VANCOUVER,WA,Nurse Practitioner,S,SEROQUEL XR,QUETIAPINE FUMARATE,NaN,42,42.1,1210,25229.61,0.0,NaN,0.0,NaN,0.0,0.0,0.0
25208295,1861735516,CABALLERO,ARCHANA,BALTIMORE,MD,Psychiatry,S,OLANZAPINE,OLANZAPINE,NaN,13,13.0,390,153.22,0.0,NaN,0.0,NaN,0.0,0.0,0.0
25208665,1144324203,WILSON,STEPHEN,WESTLAKE VILLAGE,CA,Psychiatry & Neurology,T,LATUDA,LURASIDONE HCL,NaN,12,12.0,360,39404.31,0.0,NaN,0.0,NaN,0.0,0.0,0.0
25208944,1427213123,WU,SERENA,BERKELEY,CA,Psychiatry & Neurology,T,RISPERIDONE,RISPERIDONE,NaN,25,25.0,670,183.79,0.0,NaN,0.0,NaN,0.0,0.0,0.0
25209124,1952740383,TORRES-ROSARIO,CARINES,CUTLER BAY,FL,Physician Assistant,S,HALOPERIDOL DECANOATE 100,HALOPERIDOL DECANOATE,NaN,11,11.0,326,461.83,0.0,NaN,0.0,NaN,0.0,0.0,0.0

### Below is still exploratory eda that has not materially impacted my presentation yet. 
    eventually, I would like to use the physician compare data to link antipsychotic use with specific hospitals

In [ ]:
total_benef = prescriber_df.groupby(['state'])['bene_count_ge65'].sum().to_frame().sort_values(by= ['bene_count_ge65'],ascending=False)

In [ ]:
ak_df = prescriber_df.loc[prescriber_df['state']=='AK']

In [ ]:
ak_df.bene_count_ge65.sum()

In [ ]:
ak_df.npi.count()

#### Bring in physician data and merge

In [ ]:
physician_df = pd.read_csv('../data/archive/Physician_Compare_National_Downloadable_File.csv')
physician_df = physician_df.rename(columns={'NPI': 'npi2','Hospital affiliation CCN 1':'ccn1','Hospital affiliation LBN 1':'lbn1',
                                            'Hospital affiliation CCN 2':'ccn2','Hospital affiliation LBN 2':'lbn2',
                                            'Hospital affiliation CCN 3':'ccn3','Hospital affiliation LBN 3':'lbn3',
                                            'Hospital affiliation CCN 4':'ccn4','Hospital affiliation LBN 4':'lbn4',
                                            'Hospital affiliation CCN 5':'ccn5','Hospital affiliation LBN 5':'lbn5'})

In [ ]:
physician_df.shape

In [ ]:
physician_df = physician_df.drop_duplicates(subset='npi2')
physician_df.shape

In [ ]:
physician_df.npi2.notnull().sum()

In [ ]:
physician_df.npi2.nunique()

In [ ]:
prescriber_and_physician_df = pd.merge(prescriber_df,physician_df,how= left_on='npi',right_on='npi2')
prescriber_and_physician_df.head(1)

In [ ]:
prescriber_and_physician_df.shape

In [ ]:
prescriber_and_physician_df = prescriber_and_physician_df.drop_duplicates()

In [ ]:
prescriber_and_physician_df.shape

In [ ]:
prescriber_and_physician_df.head(2)

In [ ]:
prescriber_and_physician_df.shape

In [ ]:
prescriber_and_physician_df.to_csv('../data/1.csv', index = False)